.jobMainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
.heroImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 50px;
  background: linear-gradient(
      to bottom right,
      rgb(255 230 36 / 40%),
      rgb(255 22 22 / 50%)
    ),
    url("../../public/backImage.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 45px 10px 40px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  text-align: center;
}
.heading {
  font-size: 2.8rem;
  color: #fff;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.627));
  margin-bottom: 0px;
  margin-top: 10px;
}
.smallHeading {
  margin-top: 2px;
  color: #fff;
  font-size: 1.6rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.627));
}
.image {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.627));
  width: 320px;
  height: 350px;
  top: 50px;
}
.listedJobsContainer {
  width: 60%;
  background-color: #eee;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.filtreCompanyContainer {
  width: 100%;
  background-color: #eee;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.filtreCompanyContainer .individualListedJobCard {
  width: 27%;
}
.insideBtnIcon {
  color: yellow;
}
.filtreCompanyContainer .buttonConatiner p {
  color: maroon;
  font-weight: bold;
}
.search {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #0e0e0e70;
  box-shadow: 0px 28px 40px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0);
  margin-bottom: 20px;
}
.jobMainContainer small {
  text-transform: capitalize;
}
.listedJobCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.individualListedJobCard {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.individualListedJobCard .companyName {
  font-size: 14px;
  margin: 0px;
  color: maroon;
  font-weight: bold;
}
.individualListedJobCard .jobTitle {
  margin: 2px 0px;
  margin-bottom: 5px;
}
.experienceContainer {
  display: flex;
  align-items: center;
  align-items: center;
  color: rgb(102, 100, 100);
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.experienceContainer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 2px;
}
.experienceContainer span small {
  font-size: 12px;
  margin-left: 3px;
}
.reuiredSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid rgba(128, 128, 128, 0.655);
  padding: 10px 0px;
}
.reuiredSkills span {
  font-size: 14px;
  padding: 10px;
  margin-right: 7px;
  margin-bottom: 5px;
  border: 1px solid maroon;
  border-radius: 10px;
}
.buttonConatiner {
  display: flex;
  flex-direction: column;
}
.buttonConatiner b {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.buttonConatiner button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: box-shadow 0.5s linear;
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: maroon;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0px 28px 40px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.buttonConatiner button:hover {
  box-shadow: inset 0px 28px 40px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  color: #eee;
}
/******************************Job Details Page Style******************************/

.individualJobDetailsContainer {
  width: 60%;
  background-color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;

  text-transform: capitalize;
  text-align: justify;
}

.detailsJobTitle {
  margin: 2px 0px;
  font-size: 2.4rem;
  filter: drop-shadow(1px 1px 1px #0e0e0e94);
}
.detailsCompany {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  color: maroon;
  padding-bottom: 10px;
}
.jobDescription {
  font-size: 14px;
  margin: 0px;
}

.jobHeading {
  margin-top: 10px;
}
.detailsSpanContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.detailsSpanContainer span {
  margin-bottom: 5px;
}
.individualJobDetailsContainer .reuiredSkills {
  border: none;
}
.individualJobDetailsContainer .buttonConatiner {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
.individualJobDetailsContainer .buttonConatiner button {
  width: 200px;
}

.candidateDetailsContainer {
  width: 100%;
  padding: 20px 30px;
  word-wrap: break-word;
}
.candidateDetailsContainer button {
  width: 200px;
}

.candidateDetailsContainer .reuiredSkills {
  border: none;
}
/******************************Form Styling**************************/
.formContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formContainer b small {
  color: red;
}
.importantNote {
  margin: 0px;
  font-size: 14px;
  margin-bottom: 10px;
}
.formContainer form input {
  outline: none;
  padding: 10px 0px;
  width: 100%;
  margin-bottom: 20px;
  color: gray;
  border: none;
  border-bottom: 1px solid gray;
}

.formContainer input::file-selector-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: gray;
}
.submitButton {
  margin-top: 20px;
}
.submitButton img {
  float: right;
}
.submitButton button {
  float: right;
  transition: box-shadow 0.5s linear;
  outline: none;
  border: none;
  padding: 10px 40px;
  background-color: maroon;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0px 28px 40px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.submitButton button:hover {
  box-shadow: inset 0px 28px 40px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  color: #eee;
}

/*******************Responsive********************/
/* Mobile devices (smartphones) in portrait and landscape */
@media (min-width: 320px) and (max-width: 767px) {
  .heroImageContainer {
    display: none;
  }
  .listedJobsContainer {
    width: 100%;
  }
  .listedJobCardContainer {
    width: 100%;
    padding: 20px 0px;
  }
  .individualListedJobCard {
    width: 100%;
  }
  .individualJobDetailsContainer {
    width: 100%;
    padding: 20px;
  }
  .individualJobDetailsContainer .buttonConatiner {
    position: fixed;
    bottom: 20px;
    right: 100px;
  }
  .individualJobDetailsContainer .buttonConatiner button {
    width: 200px;
  }
  .detailsJobTitle {
    font-size: 2rem;
  }
  .filtreCompanyContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .filtreCompanyContainer .individualListedJobCard {
    width: 100%;
  }

  .candidateDetailsContainer {
    width: 60%;
    padding: 20px 30px;
  }
  .candidateDetailsContainer h3 {
    font-size: 1.5rem;
  }
}
